body {
    background-color: rgb(42,195,0);
    margin: 0;
    padding: 0;
}

p{
    font-family: Helvetica;
}

.header {
    background-color: rgb(42, 195, 0);
    margin: 0;
    padding: 0;
}

.header p {
    text-align: center;
    margin: 0;
    font-size: 200px;
    padding: 10px;
}
