body {
    background-image: url(websitebackgroundgradient.jpg);
    background-size: cover;
    background-color: rgb(22,22,22);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

@font-face {
    font-family: Coolvetica;
    src: url(coolvetica.otf);
}

h1 {
    font-family: Coolvetica;
}

h3 {
    font-family: Coolvetica;
    color: white;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: Helvetica, sans-serif;
    color: rgb(155, 155, 155);
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

a {
    font-family: Helvetica, sans-serif;
    color: rgb(234, 0, 255);
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    text-decoration: underline;
}

.main {
    background-color: rgb(31, 31, 31);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.centered-icon {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

ul {
    background-color: rgb(22, 22, 22);
    margin: 0px;
    list-style-type: none;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 40px;
    width: 70%;
}

ul li {
    margin-bottom: 10px;
    text-align: left;
}

ul li a {
    padding: 10px;
    font-family: Coolvetica;
    font-size: 25px;
    text-decoration: none;
    color: rgb(234, 0, 255);
    display: block;
}

ul li a:hover {
    transition: 0.3s;
    color: white;
}

.title{
    text-align: center;
}

h2
{
    color:white;
    font-family:Coolvetica;
}

.maintext
{
    background-color: rgb(49, 49, 49);
    vertical-align: top;
    padding-right: 20px;
    border-radius: 10px;
}

.maintext h1
{
    color:white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.maintext p
{
    text-align: center;
    color: rgb(167, 167, 167);
    font-size: 15px;
    padding: 20px;
}

.maintext img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.special-row
{
    vertical-align: top;
}

.maintext a {
    display: block;       /* Makes the link a block element */
    text-align: center;   /* Centers the text inside the link */
    margin: 10px auto;    /* Centers the link by applying auto margins */
    width: fit-content;   /* Ensures the link width adjusts to the content */
}


@media(max-width:900px) 
{
    .main{
        width: 90%;
    }
    .main img
    {
        width: 90%;
        height: auto;
    }

    .navimg
    {
        width: 100%;
    }

    ul
    {
        width: 70%;
        margin: 0px;
    }

    h2 
    {
        font-size: 19px;
    }

    .maintext h1
    {
        margin-top: 10px;
        font-size: 18px;
    }

    .maintext p
    {
        font-size: 12px;
    }
}