body {
    background-image: url(websitebackgroundgradient.jpg);
    background-size: cover; /* Ensures the image fully covers the viewport */
    background-color: rgb(22,22,22);
    background-position: center; /* Keeps the image centered in the viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Removes default body margin */
}

@font-face {
    font-family: Coolvetica;
    src: url(coolvetica.otf);
}

h1 {
    font-family: Coolvetica;
}

h3 {
    font-family: Coolvetica;
    color: white;
    padding: 0px;
    margin: 0px;
}

p {
    font-family: Helvetica, sans-serif;
    color: rgb(76, 76, 76);
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

a {
    font-family: Helvetica, sans-serif;
    color: rgb(234, 0, 255);
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    text-decoration: underline;
}

.main {
    background-color: rgb(31, 31, 31);
    padding: 20px;
    display: flex; /* Use flexbox to center content */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center all elements horizontally */
    border-radius: 10px;
}

.centered-icon {
    display: block; /* Make the image a block-level element */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 10px;
}

ul {
    background-color: rgb(22, 22, 22);
    margin: 0px;
    list-style-type: none;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 40px;
}

ul li {
    margin-bottom: 10px; /* Space between menu items */
    text-align: left;
}

ul li a {
    padding: 10px;
    font-family: Coolvetica;
    font-size: 20px;
    text-decoration: none;
    color: rgb(234, 0, 255);
    display: block;
}

ul li a:hover {
    transition: 0.3s;
    color: white;
}

@media(max-width:900px) 
{
    .main{
        padding: 10px;
        width: 90%;
    }
    .main img
    {
        width: 90%;
        height: auto;
    }

    .navimg
    {
        width: 100%;
    }

    ul
    {
        width: 70%;
        margin: 0px;
    }
}